<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </configSections>

    <connectionStrings>
      <add name="TestDatabase" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.0.142,1433;Network Library=DBMSSOCN;Initial Catalog=UnitTests;User ID=sa;Password=sa;"/>
      <add name="TestDatabaseWork" providerName="System.Data.SqlClient" connectionString="Data Source=10.0.0.194,1433;Network Library=DBMSSOCN;Initial Catalog=UnitTests;User ID=sa;Password=sa;"/>
      <add name="TestDatabaseLocal" connectionString="data source=.\SQLEXPRESS; Integrated Security=SSPI; initial catalog=UnitTests" providerName="System.Data.SqlClient" />
    </connectionStrings>

    <entityFramework>
        <contexts>
            <context type="UnitTests.EF6.Database.TestDatabase, UnitTests.EF6">
                <databaseInitializer type="UnitTests.EF6.Database.TestDatabaseInitializer, UnitTests.EF6"/>
            </context>
        </contexts>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
        </providers>
    </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
